
nav {
    display: flex;
    justify-content: space-between;
    /* background-color: lightgray; */
    max-width: 100vw;
    height: 4rem;
}


.navleft, .navright {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: center;
    gap: 2rem;
}

.navul {
    display: flex;
    list-style: none;
    gap: 2rem;
}


.logo {
    height: auto;
    width: auto;
}

.jumbocontainer {
    /* background-color: rgb(57, 57, 57); */
    width: 100%;
}

.jumbo {
    margin-inline: auto;
    max-width: 80%;
    height: 60vh;
    background-color: #b4d0e7;
    position: relative;
}

.jumboleft {
    width: 35%;
}

.jumboright {
    width: 65%;
}

.jumbo h1 {
    font-size: 5rem;
    padding-top: 2rem;
    padding-left: 1rem;
}

.jumbo img {
    height: 500px;
    aspect-ratio: 16/9;
    position: absolute;
    right: -80px;
    bottom: -150px;
}

.jumbo p {
    font-size: 1.2rem;
    margin: 1rem;
    margin-bottom: 4rem;
}

.jumbo button {
    font-size: 1.2rem;
    margin: 1rem;
    margin-bottom: 4rem;
}

.freetrial {
    padding-left: 1rem;
}


.businessplan {
    margin-top: 15rem;
    /* background-color: gray; */
    margin-inline: auto;
    max-width: 80%;
} 

.businessplan h2 {
    font-size: 4rem;
    margin-left: 1rem;
}

.businessplan span {
    color: white;
    margin-top: rem;
}

.inputs {
    margin-top: 4rem;
    margin-left: 1rem;
    display: flex;
}

.inputs p{
    font-size: 1rem;
    padding-right: 1.5rem;
}

.columns {
    margin-top: 3rem;
    margin-inline: auto;
    display: flex;
    gap: 1rem;
}

.column1, .column2, .column3 {
    border: 1px solid black;
}

.column h3{
    text-align: center;
    font-size: 1.2rem;
    padding: .6rem;
}

.info4 h4 {
    font-size: 1.4rem;
    padding: 1rem;
}

.info1, .info2, .info3, .info4 {
    padding: 2rem;
}

.try {
    padding-inline:  2rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    color: white;
    background-color: blue;
    margin-inline:2rem;
    text-decoration: none;
}

.buy {
color: blue;}

.info3 p {
    margin: 2rem;
    margin-top: 2rem;
    
}

.boldtext {
    font-weight: bold;
}

li {
    padding: 1rem;
    list-style-type: none;
}

/* TEAM BOX RECTANGLE */

.teambox {
    margin-top: 5rem;
    border: 1px solid black;
    margin-left: 25px;
    width: 80%;
    margin-inline: auto;
}

.team h3 {
    text-align: center;
    padding: .5rem;
}

.teaminfo {
    position: relative;
    padding: 1rem;
}

.teaminfo h3 {
    margin-bottom: 1rem;
}

.teaminfo a {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.teaminfo2 {
    margin-top: 2rem;
    padding: 1rem;
}

/* END TEAM BOX */




/* PARTNER BOX   */

.partnerbox {
    margin-top: 10rem;
    width: 80%;
    margin-inline: auto;
    display: flex;
    margin-bottom: 10rem;
}

.partnerbox section {
    width: 30%;
    height: 30%;
    margin-left: 5rem;

}
.partnerbox img {
    height: 450px;
    aspect-ratio: 4/3;
}

.partnerinfo h3 {
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.partnerinfo p {
    margin-top: 3rem;
    font-size: 1.2rem;
    margin-bottom: 4rem;
}

.findpart {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-inline: 2rem;
    border: 1px solid black;
    text-decoration: none;
}


/* BUSINESS BOX */

.business {
    width: 70%;
    margin-left: 10rem;
}

.business h2 {
    font-size: 3.5rem;
    margin-bottom: 4rem;
}

.business h3 {
    font-size: 1.4rem;
    margin-top: 1rem;
}

.business p {
    margin-top: 1rem;

}
.boxcards{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 10rem;
}

.card{
    flex: 0 1 30%;  
}

.imgcard{
    width: 100%;
}


.businessinfo {
    width: 60%;
}
.businessinfo h2{
    font-size: 3rem;
}

.businesslink{
    padding-top: 60px;
}



/*  */

.boxcollabs {
    margin-top: 10rem;
    display: flex;
    width: 100%;
}

.boxcollabs div {
    /* border: 1px solid black; */
    width: calc(100% / 3);
    aspect-ratio: 1/1;
}

.box {
    /* border: 1px solid black; */
    flex: 0 0 50%;
    aspect-ratio: 1/1;
}

.b1,
.b2,
.b3:hover {
    border-color: #0d2481;
}

.leftbox, .rightbox {
    display: flex;
    flex-wrap: wrap;
}
 
.b1 {
    background-color: #a2d39b;
}

.b2 {
    background-color: #61082b;
}

.b3 {
    background-color: #0093ce;
}

.b4 {
    background-color: #ff1c1c;
}

.b5 {
    background-color: #f5f5f5;
}

.b6 {
    background-color: #d5001f;
}

.b7 {
    background-color: #b4d0e7;
}

.b8 {
    background-color: #0d2481;
}

.b9 {
    background-color: #ffd830;
}

